.player {
  margin-top: 30px;
}

.header {
  padding: 0 10px;
  font-weight: 100;
}

.trackButton {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  display: flex;
  width: 100%;
  font-size: 1em;
  padding: 1rem;
  margin: 0;
  height: auto;
  vertical-align: middle;
  border-radius: 3px;
  opacity: 0.6;
  box-sizing: border-box;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.trackButton:hover {
  opacity: 1;
}

.trackButtonActive {
  opacity: 1;
}

.trackButtonTitle {
  margin-right: 10px;
}

.trackList {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  visibility: hidden;
}

.trackListShow {
  opacity: 1;
  visibility: visible;
}

.currentTrack {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  visibility: hidden;
}

.currentTrackShow {
  opacity: 1;
  visibility: visible;
}

.playbackControls {
  display: flex;
  justify-content: space-between;
}

.controlButton {
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.playButton {
  width: 34px;
}

.previousButton,
.nextButton {
  width: 40px;
}

.progress {
  height: 10px;
  width: 200px;
  background: #ccc;
  align-self: center;
}

.progressInner {
  background: black;
  height: 100%;
}

.timer {
  text-align: right;
  font-size: 12px;
}

.volumeButton button {
  width: 40px;
}

.volumeButton div {
  display: none;
}

/* TODO just apply this instead of classes */
button {
  background-color: transparent;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  .currentTrack {
    padding: 1rem;
  }

  .trackList {
    padding: 0 10px;
  }
}
